<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy notice</title>
</head>

<body>

    <p>
        <h1> Booking System -palvelussa kunnioitamme yksityisyyttäsi ja sitoudumme suojaamaan keräämämme henkilökohtaiset tiedot. Tämä tietosuojaseloste selittää, kuinka keräämme, käytämme, säilytämme ja suojaamme tietojasi.</h1>

        <br>
Rekisterinpitäjä:
Booking System Oy
Y-tunnus: 1234567-8
Osoite: Esimerkintie 1, 00100 Helsinki
Sähköposti: customer@bookingsystem.com

<br>
1. Kerättävät tiedot

Rekisteröitymisen yhteydessä keräämme seuraavat tiedot:

    Sähköpostiosoite
    Salasana
    Syntymäaika

Nämä tiedot ovat välttämättömiä palvelun tarjoamiseksi, ja niitä käytetään vain kirjautumiseen ja palvelumme käyttöön.

<br>
2. Tietojen käyttö

Kerättyjä tietoja käytämme ainoastaan palvelumme tarjoamiseen ja käyttöön. Tietojasi ei käytetä markkinointiin tai muuhun tarkoitukseen ilman erillistä suostumustasi.

<br>
3. Tietojen säilyttäminen

Tietojasi säilytetään niin kauan kuin olet käyttäjänä palvelussamme. Käyttäjätilin sulkemisen jälkeen tietoja säilytetään 12 kuukauden ajan, ellei käyttäjä pyydä tietojen välitöntä poistamista.

<br>
4. Tietojen suojaaminen

Suojamme kerätyt tiedot käyttäen salausmenetelmiä, palomuureja ja pääsyn valvontaa. Vain valtuutetut henkilöt pääsevät käsiksi tietoihisi. Pystymme myös seuraamaan, ketkä ovat käyneet katsomassa tietojasi.

<br>
5. Evästeet ja seuranta

Verkkosivustomme ei käytä evästeitä tai muita seurantamenetelmiä.

<br>
6. Tietojen jakaminen

Tietoja ei jaeta kolmansille osapuolille ilman erillistä suostumustasi.

<br>
7. Tietojen tarkistaminen, päivittäminen ja poistaminen

Voit tarkistaa, päivittää tai poistaa omat tietosi ottamalla yhteyttä asiakaspalveluumme sähköpostitse: customer@bookingsystem.com.

<br>
8. Tietojen käsittelyn oikeusperuste

Tietojen käsittelyn oikeusperuste on rekisteröitymisen yhteydessä hyväksytyt palveluehdot.

<br>
9. Suostumus ja käyttöehdot

Rekisteröitymisen yhteydessä käyttäjältä pyydetään suostumus käyttöehtojen hyväksymiseen valintaruudun kautta.

<br>
10. Muutokset tietosuojaselosteeseen

Päivitämme tietosuojaselostettamme tarvittaessa. Ilmoitamme kaikista muutoksista verkkosivuillamme.

<br>
11. Lapsia koskevat säännökset

Palveluumme ei voi rekisteröityä alle 18-vuotiaat henkilöt.

<br>
12. Oikeus tehdä valitus

Jos koet, että tietosuojaoikeuksiasi on rikottu, voit ottaa yhteyttä tietosuojaviranomaiseen osoitteessa: www.tietosuoja.fi.
    </p>
</body>

</html>