<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms of service</title>
    <!-- link rel="stylesheet" href="/static/styles.css"> !-- Link to external CSS -->
</head>

<body style="font-family: Arial, sans-serif; background-color: #f4f4f9; display: flex; justify-content: center; align-items: flex-start; height: 100vh; margin: 0; padding-top: 20px;">
    
    <h1>Tietosuojakäytäntö</h1>
<br>
    <p>
        

Me Booking system -palvelussa kunnioitamme yksityisyyttäsi ja sitoudumme suojaamaan keräämämme henkilökohtaiset tiedot. Tämä tietosuojakäytäntö selittää, kuinka keräämme, käytämme, säilytämme ja suojaamme tietojasi.

<br>
1. Kerättävät tiedot

Rekisteröitymisen yhteydessä keräämme seuraavat tiedot:

    Sähköpostiosoite
    Salasana
    Syntymäaika

Nämä tiedot ovat välttämättömiä palvelun tarjoamiseksi, ja niitä käytetään vain kirjautumiseen ja palvelumme käyttöön.

<br>
2. Tietojen käyttö

Kerättyjä tietoja käytämme ainoastaan palvelumme tarjoamiseen ja käyttöön. Tietojasi ei käytetä markkinointiin tai muuhun tarkoitukseen ilman erillistä suostumustasi.

<br>
3. Tietojen säilyttäminen

Tietojasi säilytetään niin kauan kuin olet käyttäjänä palvelussamme. Jos haluat pyytää tietojesi poistamista, voit ottaa yhteyttä asiakaspalveluumme sähköpostitse osoitteeseen: customer@bookingsystem.com.

<br>
4. Tietojen suojaaminen

Suojamme kerättyjä tietoja käyttäen salausmenetelmiä, palomuureja ja pääsyn valvontaa. Vain valtuutetut henkilöt pääsevät käsiksi tietoihisi. Pystymme myös seuraamaan, ketkä ovat käyneet katsomassa tietojasi.

<br>
5. Evästeet

Emme käytä evästeitä verkkosivustollamme.

<br>
6. Tietojen jakaminen

Tietoja ei jaeta kolmansille osapuolille ilman erillistä suostumustasi.

<br>
7. Tietojen tarkistaminen, päivittäminen ja poistaminen

Voit tarkistaa, päivittää tai poistaa omat tietosi ottamalla yhteyttä asiakaspalveluumme sähköpostitse: customer@bookingsystem.com.

<br>
8. Suostumus ja käyttöehdot

Rekisteröitymisen yhteydessä käyttäjältä pyydetään suostumus käyttöehtojen hyväksymiseen valintaruudun kautta.

<br>
9. Muutokset tietosuojakäytännössä

Päivitämme tietosuojakäytäntöämme tarvittaessa. Ilmoitamme kaikista muutoksista verkkosivuillamme.

<br>
10. Lapsia koskevat säännökset

Palveluumme ei voi rekisteröityä alle 18-vuotiaat henkilöt.
    </p>
</body>

</html>